/* body {
    height: 100vh;
} */


/* .screen_fullcontent {
    min-height: 100vh;
    height: fit-content;
    margin-top: 50px;
    overflow: auto;
}

.navbar {
    position: fixed;
    width: 100%;
}

.main-header {
    position: fixed;
}

.main-sidebar,
.left-side {
    position: fixed;
    overflow: auto;
} */